.titulo{
    text-align: center;
  }
  .Social{
    margin-top: 50px;
    text-align: center;
  }

  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quemsomos{
  text-align: center;
  font-family: Impact;
  font-size: 35px
}