<ion-content>
  <h1 class="titulo">Quem Somos</h1>

  <img src="../../assets/img/Logo.png">

<ion-item>
  <ion-note item-start>
    A SWAGGY MULTIMARCAS é uma loja virtual de moda, onde são encontradas roupas e acessórios escolhidos criteriosamente pela equipe da loja. Prezamos pela alta qualidade, acabamento impecável, estilo, conforto e beleza, para que nossos clientes, através dos produtos por nós oferecidos, sintam o prazer de estarem bem vestidos.
    Nossos acessórios são peças-chave na composição de looks para as diversas casualidades possíveis. Contamos com uma variedade de modelos que vão desde os adequados para o dia-a-dia, até modelos mais requintados para a noite.
    Criada especialmente para Homens e mulheres contemporânea, que acompanha a moda, tendências, a loja virtual traz a comodidade e a segurança da realização de compras no conforto do seu lar.
    Apaixonados por moda e pelo trabalho, buscamos sempre inovação e melhoria da qualidade de nossos produtos e serviços, com o objetivo de proporcionar a satisfação total de nossos clientes.
    Agradecemos pela atenção e obrigado por ser nosso cliente!
  </ion-note>
</ion-item>
<br>
<h1>Desenvolvedores da Swaggy Multimarcas</h1>



<ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../assets/img/desenvolvedores (1).jpg"> <h1>Isaque</h1>
      </ion-col>
      <ion-col>
        <img src="../../assets/img/desenvolvedores (2).jpg"><h1>Luan</h1>
      </ion-col>
      <ion-col>
        <img src="../../assets/img/desenvolvedores (3).jpg"><h1>Caio</h1>
      </ion-col>
     
    </ion-row>
</ion-grid>



<div class="Social">
  <ion-icon name="logo-facebook" size="large" (click)="facebook()"></ion-icon>
  <ion-icon name="logo-instagram" size="large" (click)="instagram()"></ion-icon>
  <ion-icon name="logo-twitter" size="large" (click)="twitter()"></ion-icon>
</div>
</ion-content>