@font-face{
    font-family: 'Montserrat-Regular';
    src: url('../../assets/fonts/Montserrat-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: 'Mali-Medium';
    src: url('../../assets/fonts/Mali-Medium.ttf');
}
