
<ion-header>
  <ion-toolbar>
    
    <ion-icon name="menu" size="large" id="menu"></ion-icon>
    <img src="../../assets/img/Logo.png" height="50" width="50" class="icon">


  </ion-toolbar>

</ion-header>


  
  <ion-content>
      <h1 class="cupom1">Cupom De Desconto </h1>
<div class="cupom"> 
    <img src="../../assets/img/cupom1.jpg"  class="luan" width="700px" height="150px" />
    <img src="../../assets/img/cupom2.jpg"  class="luan" width="700px" height="150px" />
    <img src="../../assets/img/cupom3.jpg"  class="luan" width="700px" height="150px" />

  </div>

  <div class="Social">
      <ion-icon name="logo-facebook" size="large" (click)="facebook()"></ion-icon>
      <ion-icon name="logo-instagram" size="large" (click)="instagram()"></ion-icon>
      <ion-icon name="logo-twitter" size="large" (click)="twitter()"></ion-icon>
  </div>
  </ion-content>
  